@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header {
  text-align: center;
  color: #f5f5f5;
  -webkit-text-stroke: 1.2px black;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

body{
  background-color: #f5f5f5;
}

.layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}


.content {
  overflow: scroll;
  height: 29rem;
  min-height: 29rem;
}

.container {
  color: black;
  width: 35rem;
  margin-right: 4rem;
}

form, #todo {
  display: flex;
}

#todo-input, #todo-txt {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid;
  background-color: #f5f5f5;
  border-top-right-radius: 1rem;
}

#todo-txt {
  width: 90%;
  margin-right: 0.3rem;
  margin-left: .3rem;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#todo-input {
  width: 85%;
}

#todo-input-3d {
  width: 54.4%;
  border: 1px solid;
  border-top-right-radius: 1.6rem;
  background-color: red;
  position: absolute;
  height: 3.9rem;
  left: 10.5rem;
  z-index: -1;
}

#todo-input-3d-todo {
  width: 50.4%;
  border: 1px solid;
  border-top-right-radius: 1.6rem;
  background-color: red;
  position: absolute;
  height: 4.4rem;
  left: 10.5rem;
  z-index: -1;
}

#selectors {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 1.3rem;
}

#toggle-todo, #toggle-edit, #toggle-delete {
  height: 1.1rem;
  width: 1.1rem;
  background-color: #f5f5f5;
}
input[type="color"] {
  display: none;
}
form {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}
#toggle-edit{
  border: 1px solid black;
  border-radius: 1rem;
}

#toggle-delete{
  border: 1px solid black;
  border-radius: 1rem;
}

#todo {
  margin: 1rem auto;
  margin-right: 0.2rem;
  padding-right: 1.3rem;
}
.label {
  width: 9.3rem;
}
footer {
  height: 3.4rem;
  background-color: #f5f5f5;
  border-top: 1px solid;
  
  margin-top: .5rem;
  
}
.copy {
  text-align: center;
  font-size: .7rem;
  font-family: "Montserrat", sans-serif;
}

#delete {
  width: 40%;
  margin: 0 auto;
  margin-top: .5rem;
}
#filter {
  width: 65.8%;
  margin: 0 auto;
  font-size: .99rem;
}
#category{
  width: 5rem;
}
.btnFilter-completed {
  margin-left: 8.5%;
}
.btnFilter {
  width: 9rem;
  background-color: transparent;
  border: 1px solid black;
  border-top-right-radius: 0.7rem;
  margin-top: 0.7rem;
}
.btnFilter-category {
  width: 4.5rem !important;
  background-color: transparent;
  border: 1px solid black;
  border-top-right-radius: 0.7rem;
  padding-left: .2rem;
}
.btnFilter-completed, .btnFilter-delete {
  width: 9rem;
  background-color: transparent;
  border: 1px solid black;
  border-top-right-radius: 0.7rem;
}

.btnFilter-all {
  width: 9rem;
  background-color: transparent;
  border: 1px solid black;
  border-top-right-radius: 0.7rem;
}

input[type="checkbox"] {
  
  appearance: none;
  height: 1.1rem;
  width: 1.1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  -webkit-text-stroke: 0.04rem black;
  font-size: 14px;
  position: relative;
  left: 0.15rem;
  bottom: .05rem;
}

/* Estilo adicional cuando el checkbox está enfocado */
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="color"] {
  display: none;
}
#color-box {
  top: 0.6rem;
}

#color-picker{
  display: inline-block;
  width: 40px;
  height: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  left: .6rem;
  top: 0.7rem;
  border: 1px solid black;
  color: transparent;
}
/* Estilo del botón que actuará como el color picker */
#color-box-todo {
  display: inline-block;
  width: 40px;
  height: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  left: .9rem;
  top: 0.9rem;
  border: 1px solid;
}

#color-box-todo {
  cursor: default;
}
.triangulo-derecha {
  width: 1px;
  height: 1px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #0000;
  border-left: 16px solid #f5f5f5;
  position: relative;
  left: 25px;
  z-index: 2;
  top: 9px;
}
.triangulo-derecha-todo {
  width: 1px;
  height: 1px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #0000;
  border-left: 16px solid #f5f5f5;
  position: relative;
  left: 30.1px;
  z-index: 2;
  top: 12.3px;
}
#todo-input:focus {
  outline: auto;
  outline-style: solid;
  box-shadow: 0 0 8px rgba(255, 128, 0, 0.5);  /* Agrega un pequeño resplandor alrededor */
}

#category, .btnFilter, .btnFilter-completed, #toggle-todo, #toggle-edit, #toggle-delete{
  cursor: pointer;
}

#category:hover, .btnFilter:hover, .btnFilter-delete:hover, .btnFilter-completed:hover, #toggle-edit:hover, #toggle-delete:hover{
  background-color: #c6c6c6;
}

.click{
  background-color: #ffcc80 !important;
}

@media (max-width: 700px) {
  .container {
    width: 90%;
    margin-right: 0rem;
  }
  #filter {
    width: 23.3rem;
  }
  .layout {
    justify-content: center;
  }
  .label {
    color: transparent;
  }
  .copy {
    margin-top: 0.7rem;
  }
  header {
    font-size: 1.5rem;
  }
}

@media (max-width: 412px) {

  #filter {
    margin-left: -1.19rem;
  }
}